---
import { getOgImageUrl } from '~/lib/og-image';

export interface Props {
  title?: string | undefined;
  description?: string | undefined;
  permalink: string;
  contentType?: 'website' | 'article';
  publishedDate?: Date | undefined;
  updatedDate?: Date | undefined;
  articleType?: 'blog' | 'til' | 'note' | undefined;
  ogHeading?: string | undefined;
  ogBgImage?: string | undefined;
  ogBorderColor?: string | undefined;
  iconHref?: string | undefined;
  ogImageTitle?: string | undefined;
}
const {
  title = 'Malcolm Kee',
  description,
  permalink,
  contentType = 'website',
  publishedDate,
  updatedDate,
  articleType,
  ogHeading = articleType
    ? { blog: 'BLOG', til: 'Today I Learnt', note: 'Note' }[articleType]
    : undefined,
  ogBgImage,
  ogBorderColor,
  iconHref = '/icon.jpg',
  ogImageTitle = title,
} = Astro.props;

const ogImage = getOgImageUrl({
  title: ogImageTitle,
  publishedDate,
  heading: ogHeading,
  bgImage: ogBgImage,
  borderColor: ogBorderColor,
});
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/jpg" href={iconHref} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}
<link rel="canonical" href={permalink} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={contentType} />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
{description && <meta property="og:description" content={description} />}
<meta property="og:image" content={ogImage} />
{
  publishedDate && (
    <meta
      property="article:published_time"
      content={publishedDate.toISOString()}
    />
  )
}
{
  updatedDate && (
    <meta
      property="article:modified_time"
      content={updatedDate.toISOString()}
    />
  )
}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={title} />
{description && <meta property="twitter:description" content={description} />}
<meta property="twitter:image" content={ogImage} />
<meta property="twitter:creator" content="@Malcolm_Kee" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap"
/>

<script
  type="text/partytown"
  src="https://www.googletagmanager.com/gtag/js?id=G-BYCSKZQJNC"
></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-BYCSKZQJNC');
</script>
