---
import { BackButton } from '~/components/BackButton';
import './shiki.css';
import {
  getCloudinaryHelpers,
  getCloudinaryImageInfo,
} from '../lib/cloudinary';

export interface Props {
  title: string;
  publishDate?: string;
  heroImage?: string;
  alt?: string;
  backUrl?: string;
}

const { title, publishDate, heroImage, alt, backUrl } = Astro.props;

const { checkIsCloudinaryImage } = getCloudinaryHelpers({
  cloudinaryUsername: 'malcolm-kee',
});

const imageInfo =
  heroImage && checkIsCloudinaryImage(heroImage)
    ? await getCloudinaryImageInfo(heroImage)
    : undefined;
---

<div class="my-12">
  <article>
    <div class="xl:relative">
      {
        backUrl && (
          <BackButton
            href={backUrl}
            className="lg:absolute lg:-left-5 lg:mb-0"
          />
        )
      }
      <header class="flex flex-col pb-8 mb-8 border-b border-gray-100">
        {
          heroImage && (
            <div class="-mx-4 sm:-mx-8 lg:-mx-12">
              <img
                width={imageInfo && imageInfo.output.width}
                height={imageInfo && imageInfo.output.height}
                class="w-full"
                loading="lazy"
                src={heroImage}
                alt={alt}
              />
            </div>
          )
        }
        <div class="max-w-3xl mx-auto w-full">
          <p class="my-3 text-zinc-400 pl-4 border-l-4 border-l-zinc-100">
            {publishDate}
          </p>
          <h1 class="text-4xl font-bold w-full">{title}</h1>
        </div>
      </header>
      <main class="max-w-3xl mx-auto prose" data-md-content>
        <slot />
      </main>
    </div>
  </article>
</div>

<script>
  import { createTooltip } from '~/lib/create-tooltip';

  const mdContents = document.querySelectorAll('[data-md-content]');

  mdContents.forEach((mdContent) => {
    const footNoteRef = mdContent.querySelectorAll('a[data-footnote-ref]');

    footNoteRef.forEach((el) => {
      const parentSupEl = el.closest('sup');

      if (!parentSupEl) {
        return;
      }

      const href = el.getAttribute('href');
      if (href) {
        const target = document.querySelector(href);
        if (target && target instanceof HTMLElement) {
          const childs: Array<Node> = [];
          target.childNodes.forEach((childNode) => {
            if (childNode instanceof HTMLElement) {
              const cloned = document.createElement('div');
              cloned.innerHTML = childNode.innerHTML;
              cloned.childNodes.forEach((grandChild) => {
                if (
                  grandChild instanceof HTMLElement &&
                  grandChild.hasAttribute('data-footnote-backref')
                ) {
                  grandChild.remove();
                }
              });
              childs.push(cloned);
            }
          });
          if (childs.length > 0) {
            const tooltipEl = document.createElement('div');
            tooltipEl.role = 'tooltip';
            childs.forEach((child) => tooltipEl.appendChild(child));
            const arrowEl = document.createElement('div');
            tooltipEl.appendChild(arrowEl);
            parentSupEl.insertAdjacentElement('afterend', tooltipEl);

            createTooltip({
              anchor: el,
              tooltip: tooltipEl,
              arrow: arrowEl,
            });
          }
        }
      }
    });
  });
</script>
