---
import type { GetStaticPaths, GetStaticPathsItem } from 'astro';
import { CollectionEntry, getCollection } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Container from '~/components/Container';
import Layout from '~/components/Layout.astro';
import { ChevronLeftIcon, ChevronRightIcon } from '~/components/icons';
import {
  groupWorkshopLessons,
  type WorkshopMetadata,
  type WorkshopRenderData,
} from '~/data/workshop-helpers';
import '~/components/shiki.css';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const workshopLessons = await getCollection('workshop');

  const workshopMap = groupWorkshopLessons(workshopLessons);

  const result: Array<GetStaticPathsItem> = [];

  workshopMap.forEach(({ lessons }) => {
    lessons.forEach((lesson, index) => {
      result.push({
        params: {
          slug: lesson.slug,
        },
        props: {
          entry: lesson.data,
          workshop: lesson.workshop,
          prev: lessons[index - 1],
          next: lessons[index + 1],
        } satisfies Props,
      });
    });
  });

  return result;
};

interface Props {
  entry: CollectionEntry<'workshop'>;
  workshop: WorkshopMetadata;
  prev?: WorkshopRenderData | undefined;
  next?: WorkshopRenderData | undefined;
}

const { entry, workshop, prev, next } = Astro.props;

const {
  data: { title, description },
} = entry;

const { Content } = await entry.render();
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      ogHeading={workshop.name}
      ogBorderColor={workshop.themeColor}
      ogBgImage={workshop.iconUrl}
    />
  </head>
  <body>
    <Layout>
      <Container>
        <article>
          <div class="max-w-3xl mx-auto prose">
            <h1 class="text-4xl font-bold">{title}</h1>
            <Content />
          </div>
        </article>
        {
          (prev || next) && (
            <nav class="flex justify-between items-center gap-3 py-3">
              {prev ? (
                <a
                  href={`/${prev.slug}`}
                  class="max-w-[45%] px-2 overflow-hidden"
                >
                  <span class="flex items-center gap-2 md:text-lg">
                    <ChevronLeftIcon
                      className="w-6 h-6 text-gray-500"
                      aria-hidden
                    />
                    Prev
                  </span>
                  <span class="text-sm truncate">{prev.data.data.title}</span>
                </a>
              ) : (
                <span />
              )}
              {next ? (
                <a
                  href={`/${next.slug}`}
                  class="max-w-[45%] px-2 overflow-hidden"
                >
                  <span class="flex justify-end items-center gap-2 md:text-lg">
                    Next
                    <ChevronRightIcon
                      className="w-6 h-6 text-gray-500"
                      aria-hidden
                    />
                  </span>
                  <span class="block text-sm truncate">
                    {next.data.data.title}
                  </span>
                </a>
              ) : (
                <span />
              )}
            </nav>
          )
        }
      </Container>
    </Layout>
  </body>
</html>
