---
import { clsx } from 'clsx';
import BaseHead from '../components/BaseHead.astro';
import Layout from '../components/Layout.astro';
import Container from '../components/Container';
import SocialIcons from '../components/SocialIcons';
import headerStyles from '../components/Header.module.css';
import portraitImage from '../assets/portrait.jpg';
import { Image } from 'astro:assets';

const title = 'Malcolm Kee - Web developer, front end engineer';
const description = `UI Builder and Tool Creator`;

const { pathname } = Astro.url;

const permalink = new URL(pathname.replace(/\/$/, ''), Astro.site).toString();
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>

  <body>
    <Layout hideAvatar>
      <Container className="mt-16 sm:mt-32">
        <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
          <div class="lg:pl-20">
            <div class="max-w-xs px-2.5 lg:max-w-none">
              <Image
                src={portraitImage}
                alt=""
                sizes="(min-width: 1024px) 32rem, 20rem"
                class={clsx(
                  'PortraitImage aspect-square rotate-3 rounded-2xl bg-zinc-100 object-cover',
                  headerStyles.avatar
                )}
                loading="eager"
              />
            </div>
          </div>
          <div class="lg:order-first lg:row-span-2">
            <h1 class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl">
              {description}
            </h1>
            <div class="mt-6 space-y-7 text-base text-zinc-600">
              <p>
                Hi! I'm Malcolm Kee, a software engineer based in Sydney. I worked with a variety of
                programming languages and tools, but my focus is frontend technologies.
              </p>
              <p>
                I love building <a href="/projects" class="text-primary-600 hover:text-primary-500"
                  >side projects</a
                > for fun.
              </p>
              <p>
                I'm also passionate about sharing my expertise with others. As a co-organizer of a
                tech meetup, I designed and conducted <a
                  href="/workshops"
                  class="text-primary-600 hover:text-primary-500">workshops</a
                > on topics such as React and web development.
              </p>
              <p>
                In addition to my hands-on work, I also enjoy sharing my experience and opinions in <a
                  href="/blog"
                  class="text-primary-600 hover:text-primary-500">my blog</a
                >.
              </p>
            </div>
          </div>
          <div class="lg:pl-20">
            <SocialIcons variant="iconWithText" />
          </div>
        </div>
      </Container>
    </Layout>
    <script>
      const image: HTMLImageElement | null = document.querySelector('.PortraitImage');

      if (image) {
        if (!image.complete) {
          console.log('image not complete');
          image.classList.remove('rotate-3');
          image.classList.add('transition');
          image.classList.add('duration-700');
          image.classList.add('-rotate-3');

          image.addEventListener('load', () => {
            console.log('image loaded');
            image.classList.remove('-rotate-3');
            image.classList.add('rotate-3');
          });
        }
      }
    </script>
  </body>
</html>
