---
import { getBlogs } from '~/data/blog-helpers';
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import { BlogPostPreviewList, BlogPostPreviewListItems } from '../components/BlogPostPreviewList';
import PageLayout from '../components/PageLayout.astro';

const title = 'Blogs - Malcolm Kee';
const description = 'My thoughts on technologies, books, or any other random topic.';

const allPosts = await getBlogs();

const [featuredPost, ...otherPosts] = allPosts;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <PageLayout>
      <span slot="title">Blogs</span>
      <span slot="description">{description}</span>
      <BlogPostPreviewList aria-label="Blog post list">
        <BlogPostPreview post={featuredPost} isFeatured />
        <BlogPostPreviewListItems>
          {otherPosts.map((p) => <BlogPostPreview post={p} />)}
        </BlogPostPreviewListItems>
      </BlogPostPreviewList>
    </PageLayout>
  </body>
</html>
