---
import BaseHead from '~/components/BaseHead.astro';
import BlogPostPreview from '~/components/BlogPostPreview.astro';
import { BlogPostPreviewList, BlogPostPreviewListItems } from '~/components/BlogPostPreviewList';
import { Button } from '~/components/Button';
import Container from '~/components/Container';
import GenericSignupForm from '~/components/GenericSignupForm.astro';
import { BriefcaseIcon, CloudArrowDownIcon } from '~/components/icons';
import Layout from '~/components/Layout.astro';
import SocialIcons from '~/components/SocialIcons';
import { getBlogs } from '~/data/blog-helpers';
import { fileName, workExperiences } from '~/data/cv';

const title = 'Malcolm Kee - front end engineer that loves building tools';
const description = 'A place to write my mind.';

const blogPosts = await getBlogs();

const allPosts = blogPosts.slice(0, 10);
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Layout isHomePage>
      <Container className="mt-9">
        <div class="max-w-2xl">
          <h1 class="text-5xl sm:text-6xl font-techie tracking-tight text-zinc-800">
            <span class="font-bold">UI</span> Builder {'&'}<br /><span class="font-bold">TOOL</span>
            Creator
          </h1>
          <p class="mt-6 text-zinc-600">I'm Malcolm, a front end engineer based in Sydney.</p>
          <p class="mt-1 text-zinc-600">
            I love creating UI and tools using TypeScript, React, and webpack.
          </p>
          <SocialIcons className="mt-6" variant="iconOnly" />
        </div>
      </Container>
      <Container className="mt-24 md:mt-28">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-20">
          <BlogPostPreviewList>
            <BlogPostPreviewListItems>
              {allPosts.map((p) => <BlogPostPreview post={p} />)}
            </BlogPostPreviewListItems>
          </BlogPostPreviewList>
          <div class="space-y-10 lg:pl-16 xl:pl-24">
            <GenericSignupForm />
            <div class="rounded-2xl border border-zinc-100 p-6">
              <h2 class="flex text-sm font-semibold text-zinc-500">
                <span class="inline-block px-2">
                  <BriefcaseIcon className="h-6 w-6 flex-none" />
                </span>
                <span class="ml-3 leading-6 tracking-wider">WORK</span>
              </h2>
              <ol class="mt-6 space-y-6">
                {
                  workExperiences.map((role) => (
                    <li class="flex gap-4">
                      <div class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0">
                        {role.logo ? (
                          <img
                            src={role.logo}
                            alt=""
                            class="h-8 w-8 rounded-full"
                            width={32}
                            height={32}
                          />
                        ) : (
                          <div class="w-8 h-8 rounded-full bg-zinc-400" />
                        )}
                      </div>
                      <dl class="flex flex-auto flex-wrap gap-x-2">
                        <dt class="sr-only">Company</dt>
                        <dd class="flex-none text-sm font-techie font-medium text-zinc-900 dark:text-zinc-100">
                          {role.company}
                        </dd>
                        <dt class="sr-only">Date</dt>
                        <dd
                          class="ml-auto text-xs text-zinc-400 dark:text-zinc-500"
                          aria-label={`${role.start} until ${role.end}`}
                        >
                          <time datetime={role.start}>{role.start}</time>{' '}
                          <span aria-hidden="true">—</span>{' '}
                          <time datetime={role.end}>{role.end}</time>
                        </dd>
                        <dt class="sr-only">Role</dt>
                        <dd class="w-full text-xs text-zinc-500 dark:text-zinc-400">
                          {role.title}
                        </dd>
                      </dl>
                    </li>
                  ))
                }
              </ol>
              <div class="flex mt-6 rounded-md shadow">
                <Button variant="secondary" href="/cv/" flat className="flex-1 rounded-r-none">
                  View CV
                </Button>
                <Button
                  className="rounded-l-none"
                  aria-label="Download"
                  href={`/${fileName}`}
                  download
                  flat
                >
                  <CloudArrowDownIcon />
                </Button>
              </div>
            </div>
          </div>
        </div>
      </Container>
    </Layout>
  </body>
</html>
