---
import BaseHead from '~/components/BaseHead.astro';
import NotificationSubscribeButton from '~/components/NotificationSubscribeButton.astro';
import PageLayout from '~/components/PageLayout.astro';
import { getNotes } from '~/data/note-helpers';

const notes = await getNotes();

const title = 'Notes';
const description = 'Learning notes on topics, which will be updated over time.';
---

<html>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <PageLayout>
      <span slot="title">{title}</span>
      <NotificationSubscribeButton slot="action" />
      <span slot="description">{description}</span>
      <ul class="flex flex-col gap-6 xl:grid xl:grid-cols-2">
        {
          notes.map((note) => (
            <li>
              <a
                href={`/note/${note.id}/`}
                class="block px-2 border-l-4 border-transparent hover:border-primary-500 transition-colors"
              >
                {note.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </PageLayout>
  </body>
</html>
