---
import type { GetStaticPaths } from 'astro';
import { CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Container from '~/components/Container';
import Layout from '~/components/Layout.astro';
import MdContent from '~/components/MdContent.astro';
import { getTils } from '~/data/til-helpers';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const tils = await getTils({ includePreview: true });

  return tils.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      entry: post,
    } satisfies Props,
  }));
};

interface Props {
  entry: CollectionEntry<'today-i-learnt'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, pubDate } = entry.data;

const permalink = new URL(
  `today-i-learnt/${entry.slug}`,
  Astro.site
).toString();
---

<html lang="en-US">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
    />
    <BaseHead
      title={title}
      permalink={permalink}
      publishedDate={pubDate ? new Date(pubDate) : undefined}
      articleType="til"
    />
  </head>
  <body>
    <Layout>
      <Container>
        <MdContent title={title} publishDate={pubDate}>
          <Content />
        </MdContent>
      </Container>
    </Layout>
  </body>
</html>
