---
import type { GetStaticPaths } from 'astro';
import { CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Container from '~/components/Container';
import Layout from '~/components/Layout.astro';
import MdContent from '~/components/MdContent.astro';
import { getTils } from '~/data/til-helpers';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const tils = await getTils({ includePreview: true });

  return tils.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      entry: post,
    } satisfies Props,
  }));
};

interface Props {
  entry: CollectionEntry<'today-i-learnt'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { title, pubDate, youtubeVideoId } = entry.data;

const permalink = new URL(
  `today-i-learnt/${entry.slug}`,
  Astro.site
).toString();
---

<html lang="en-US">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
    />
    <BaseHead
      title={title}
      permalink={permalink}
      publishedDate={pubDate}
      articleType="til"
    />
  </head>
  <body>
    <Layout>
      <Container>
        <MdContent
          title={title}
          publishDate={pubDate}
          backUrl="/today-i-learnt"
        >
          {
            youtubeVideoId ? (
              <figure class="border-b border-gray-200">
                <figcaption class="mb-3">
                  The content of this article is also available in video format.
                </figcaption>
                <div class="w-full aspect-[16/9] relative">
                  <div class="bg-gradient-to-b from-gray-700 via-gray-900 to-black animate-pulse absolute inset-0" />
                  <div class="relative w-full h-0 pb-[56.25%] overflow-hidden mb-[50px]">
                    <iframe
                      class="w-full h-full absolute top-0 left-0"
                      sandbox="allow-same-origin allow-forms allow-popups allow-scripts allow-presentation"
                      src={`https://youtube.com/embed/${youtubeVideoId}?cc_load_policy=1`}
                    />
                  </div>
                </div>
              </figure>
            ) : null
          }
          <Content />
        </MdContent>
      </Container>
    </Layout>
  </body>
</html>
