---
import type { MarkdownLayoutProps } from 'astro';
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import Container from '../components/Container';
import Layout from '../components/Layout.astro';
import './shiki.css';

type Props = MarkdownLayoutProps<{
  title: string;
  description?: string;
  pubDate: string;
  updatedDate?: string;
  heroImage?: string;
  alt?: string;
  lang?: string;
}>;

const { frontmatter, url } = Astro.props;
const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  alt,
  lang = 'en',
} = frontmatter;

const permalink = new URL(url!, Astro.site).toString();
---

<html lang={lang}>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
    />
    <BaseHead
      title={title}
      description={description}
      publishedDate={new Date(pubDate)}
      updatedDate={updatedDate ? new Date(updatedDate) : undefined}
      contentType="article"
      permalink={permalink}
    />
  </head>

  <body>
    <Layout>
      <Container>
        <BlogPost
          title={title}
          heroImage={heroImage}
          publishDate={pubDate}
          alt={alt}
        >
          <slot />
        </BlogPost>
      </Container>
    </Layout>
  </body>
</html>
