---
import type { MarkdownHeading } from 'astro';
import type { WorkshopMetadata } from '~/data/workshop-data';
import type {
  WorkshopRenderData,
  WorkshopTocItem,
} from '~/data/workshop-helpers';
import { WorkshopHeader } from './workshop-header';
import { WorkshopHeadings } from './workshop-headings';
import { WorkshopNavigation } from './workshop-navigation';

export interface Props {
  workshop: WorkshopMetadata;
  tocItems: Array<WorkshopTocItem>;
  prev?: WorkshopRenderData | undefined;
  next?: WorkshopRenderData | undefined;
  headings: Array<MarkdownHeading>;
}

const { workshop, tocItems, prev, next, headings } = Astro.props;

const currentPath = Astro.url.pathname.replace(/\/$/, '');
---

<body class="bg-white dark:bg-slate-900">
  <WorkshopHeader
    workshop={workshop}
    navItems={tocItems}
    currentPath={currentPath}
    client:load
  />
  <div
    class="relative mx-auto flex max-w-8xl justify-center sm:px-2 lg:px-8 xl:px-12"
  >
    <div class="hidden lg:relative lg:block lg:flex-none">
      <div class="absolute inset-y-0 right-0 w-[50vw] bg-slate-50 dark:hidden">
      </div>
      <div
        class="absolute top-16 bottom-0 right-0 hidden h-12 w-px bg-gradient-to-t from-slate-800 dark:block"
      >
      </div>
      <div
        class="absolute top-28 bottom-0 right-0 hidden w-px bg-slate-800 dark:block"
      >
      </div>
      <div
        class="sticky top-[4.5rem] -ml-0.5 h-[calc(100vh-4.5rem)] overflow-y-auto overflow-x-hidden py-16 pl-0.5"
      >
        <WorkshopNavigation
          items={tocItems}
          className="w-64 pr-8 xl:w-72 xl:pr-16"
          currentPath={currentPath}
        />
      </div>
    </div>
    <div
      class="min-w-0 max-w-2xl flex-auto px-4 py-16 lg:max-w-none lg:pr-0 lg:pl-8 xl:px-16"
    >
      <slot />
      <dl
        class="mt-12 flex border-t border-slate-200 pt-6 dark:border-slate-800"
      >
        {
          prev && (
            <div>
              <dt class="font-display text-sm font-medium text-slate-900 dark:text-white">
                Previous
              </dt>
              <dd class="mt-1">
                <a
                  href={`/${prev.slug}`}
                  class="text-base font-semibold text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"
                >
                  <span aria-hidden="true">&larr;</span> {prev.data.data.title}
                </a>
              </dd>
            </div>
          )
        }
        {
          next && (
            <div class="ml-auto text-right">
              <dt class="font-display text-sm font-medium text-slate-900 dark:text-white">
                Next
              </dt>
              <dd class="mt-1">
                <a
                  href={`/${next.slug}`}
                  class="text-base font-semibold text-slate-500 hover:text-slate-600 dark:text-slate-400 dark:hover:text-slate-300"
                >
                  {next.data.data.title} <span aria-hidden="true">&rarr;</span>
                </a>
              </dd>
            </div>
          )
        }
      </dl>
    </div>
    <WorkshopHeadings headings={headings} client:load />
  </div>
</body>
