---
import type { GetStaticPaths } from 'astro';
import { CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Container from '~/components/Container';
import ContentSuggestions from '~/components/ContentSuggestions.astro';
import Layout from '~/components/Layout.astro';
import MdContent from '~/components/MdContent.astro';
import { getBlogs } from '~/data/blog-helpers';
import { getBlogRelatedContents } from '~/data/topic-helpers';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const blogs = await getBlogs({ includePreview: true });

  return blogs.map((blog) => ({
    params: {
      slug: blog.slug,
    },
    props: {
      entry: blog,
    } satisfies Props,
  }));
};

interface Props {
  entry: CollectionEntry<'blog'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  heroImagePublicId,
  alt,
  lang = 'en',
} = entry.data;

const permalink = new URL(`blog/${entry.slug}`, Astro.site).toString();

const related = await getBlogRelatedContents(entry);
---

<html lang={lang}>
  <head>
    <BaseHead
      title={title}
      description={description}
      publishedDate={pubDate}
      updatedDate={updatedDate}
      contentType="article"
      permalink={permalink}
      ogBgImage={heroImage}
      articleType="blog"
    />
  </head>

  <body>
    <Layout>
      <Container>
        <MdContent
          title={title}
          heroImage={heroImage}
          heroImagePublicId={heroImagePublicId}
          publishDate={pubDate}
          alt={alt}
          backUrl="/blog"
        >
          <Content />
        </MdContent>
        <div class="border-t border-gray-100 pt-8">
          <ContentSuggestions blogs={related.blogs} tils={related.tils} />
        </div>
      </Container>
    </Layout>
  </body>
</html>
