---
import type { GetStaticPaths } from 'astro';
import { CollectionEntry } from 'astro:content';
import BaseHead from '~/components/BaseHead.astro';
import Container from '~/components/Container';
import Layout from '~/components/Layout.astro';
import MdContent from '~/components/MdContent.astro';
import { getBlogs } from '~/data/blog-helpers';

export const getStaticPaths: GetStaticPaths = async function getStaticPaths() {
  const blogs = await getBlogs({ includePreview: true });

  return blogs.map((blog) => ({
    params: {
      slug: blog.slug,
    },
    props: {
      entry: blog,
    } satisfies Props,
  }));
};

interface Props {
  entry: CollectionEntry<'blog'>;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  alt,
  lang = 'en',
} = entry.data;

const permalink = new URL(`blog/${entry.slug}`, Astro.site).toString();
---

<html lang={lang}>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
    />
    <BaseHead
      title={title}
      description={description}
      publishedDate={new Date(pubDate)}
      updatedDate={updatedDate ? new Date(updatedDate) : undefined}
      contentType="article"
      permalink={permalink}
      articleType="blog"
    />
  </head>

  <body>
    <Layout>
      <Container>
        <MdContent
          title={title}
          heroImage={heroImage}
          publishDate={pubDate}
          alt={alt}
        >
          <Content />
        </MdContent>
      </Container>
    </Layout>
  </body>
</html>
